@model DoPooo.ViewModel.YouTubeVideoViewModel

@{
    var httmpYouTubeUrl = "https://www.youtube.com/embed/";
    var count = 1;
}

<h1>@Model.Title</h1>

<div>

    @if(Model != null && Model.VideoData.Count != 0)
    {
        
        <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="0">
            <div class="carousel-inner">
                @foreach(var videoData in @Model.VideoData)
                {
                    @if (count == 1) 
                    {
                        <div class="carousel-item active" data-bs-interval="0">
                            <div class="ratio ratio-16x9 d-block w-100">
                                <iframe src="@httmpYouTubeUrl@videoData.VideoId" frameborder="0" title="YouTube video" allowfullscreen></iframe>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item" data-bs-interval="0">
                            <div class="ratio ratio-16x9 d-block w-100">
                                <iframe src="@httmpYouTubeUrl@videoData.VideoId" frameborder="0" title="YouTube video" allowfullscreen></iframe>
                            </div>
                        </div>
                    }
                    count++;
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    }
    else
    {
        <div>
            <p>No avaliable videos now</p>
        </div>
    }

</div>

